.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: lightblue;
  color: red;

  .logo {
    color: blue;
    width: 100%;
    text-align: center;
  }
}
